:root{
    --transition: all 0.5s ease;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
}
img{
    width: 100%;
    display: block;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 15px 0;
}

.background-image{
    background-image: url("image/b2.jpg");
    height: 500px;
    background-size: cover;
}


.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*.container{
    width: 90vw;
    margin: 0 auto;
}*/
.active{
    color: #fff!important;
}

.header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/header.jpg") center/cover no-repeat;
    color: #fff;
}
.top-nav a{
    color: #fff;
}
.brand-and-navBtn{
    background: #ddd;
    position: relative;
    z-index: 999;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    padding: 15px 25px;
    color: var(--white);
}
.brand-name{
    letter-spacing: 10px;
    cursor: pointer;
    padding-top: 2%;
    padding-bottom: 3%;
}
.navBtn{
    width: 40px;
    height: 40px;
    border: 1px solid var(--white);
    cursor: pointer;
}
.navBtn:hover{
    background: #fff;
    color: #fff;
    transition: var(--transition);
}
.top-nav{
    background: #ddd;
    transform: translateY(-600px);
    transition: var(--transition);
} 
.top-nav ul li{
    padding: 10px 0;
    padding-bottom: 3%;
}
.top-nav ul a{
    position: relative;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    display: block;
}
.top-nav ul a::after{
    content: "";
    height: 2px;
    background: #ffffff;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    transition: var(--transition);
}
.top-nav ul a:hover::after{
    width: 100px;
}
.home {
    width: 100%;
    height: 100vh;
  }
.about-content img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.about-img{
    background: #fff;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 50%;
}

.about-content h1{
    font-size: 48px;
    text-align: center;
    padding-top: 3%;
    margin-bottom: 35px;
    font-weight: 600;
    color:var(--darkGrey);
}
.about-content h2{
    color: #fff;
    font-size: 30px;
    font-weight: 100;
    background: rgba(255, 255, 255, 0.1);
    width: 400px;
    margin: 35px auto;
    text-align: center;
    padding-top: 0%;
}

blockquote{
    font-size: 30px;
    font-weight: 600;
    opacity: 0.9;
    width: 60vw;
    margin: 45px auto 15px auto;
    text-align: center;
    padding-top: 5%;
}
.social-media{
    width: 350px;
    margin: 40px auto 0 auto;
    padding-bottom: 30px;
}
.social-media ul a{
    color: #ddd;
    font-size: 30px;
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--transition);
}
.social-media ul{
    display: flex;
    justify-content: space-around;
}
.social-media ul a:hover{
    background: dark;
    border-color: #ddd;
}


/* header and footer*/
.nav-section{
    display: flex;
    justify-content: space-between;
}
.navBtn{
    display: none;
}
.brand-and-navBtn{
    flex: 0 0 10%;
    background: none;
}
.top-nav{
    flex: 0 1 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: transform 0s ease;
    transform: translateY(0);
    background: transparent;
}
.top-nav ul{
    display: flex;
}
.top-nav ul li{
    margin-right: 30px;
    margin-left: 30px;
}

/* contact */
.section-five{
    width: 100%;
    height: auto;
    padding: 18vh 0;
}
.contact-top h1{
    text-transform: uppercase;
    font-size: 70px;
    font-family: 'Futurist', sans-serif;
    text-align: center;
    padding-top: 2%;
}
.contact-top p{
    font-family: 'Trispace', sans-serif;
    font-size: 25px;
    text-align: justify;
    padding-top: 5%;
}
.contact-middle div{
    text-align: center;
    padding: 25px 0;
    background: transparent;
    color: #fff;
}
.contact-middle div span{
    display: block;
}
.contact-icon{
    font-size: 30px;
}
.contact-middle div span:nth-child(2){
    font-size: 18px;
    font-weight: bold;
}
.contact-icon{
    font-size: 30px;
}
.contact-middle div p{
    font-weight: 300;
    opacity: 0.7;
}

@media screen and (max-width: 980px){
    /* header  */
    .nav-section{
        display: flex;
        justify-content: space-between;
    }
    .navBtn{
        display: none;
    }
    .brand-and-navBtn{
        flex: 0 0 10%;
        background: none;
    }
    .top-nav{
        flex: 0 1 80%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        transition: transform 0s ease;
        transform: translateY(0);
        /*background: transparent;*/
    }
    .top-nav ul{
        display: flex;
    }
    .top-nav ul li{
        margin-right: 30px;
        margin-left: 30px;
    }
    /* section five */
    .contact-bottom{
        text-align: center;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 40px;
    }
}


@media screen and (max-width: 800px){
    .contact-middle{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
    }
    .contact-top h1{
        text-align: center;
        font-size: 70px;
        font-family: 'Futurist', sans-serif;
    }
}
@media screen and (min-width: 480px){
    .contact-middle{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 5px;
    }
    .contact-top h1{
        font-size: 15vw;
        text-align: center;
        font-size: 70px;
        font-family: 'Futurist', sans-serif;
    }
}
/*@media screen and (max-width:928px) {
    .about-title h1 {
        font-size: 15vw;
    }*/


/* portfolio */
.section-three{
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    text-align: center;
}
.portfolio h1 {
    text-transform: uppercase;
    padding-bottom: 0px;
    font-size: 70px;
    line-height: 100px;
    font-family: 'Futurist', sans-serif;
    text-align: center;
    color: #fff;
  }

* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

.slideshow-container{
    position: relative;
    margin: auto;
    padding-left: 20%;
    padding-bottom: 5%;
    padding-top: 5%;
}  
.slideshow-container img{
    width: 60%;
    padding-left: 15%;
}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-right: 32%;
    margin-left: -28%;
    margin-top: -2%;
    color:black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background:#eee;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover */
  .prev:hover, .next:hover {
    background-color: transparent;
    color:black;
  }


/* About */

.about {
    width: 100%;
    height: auto;
    padding-top: 2%;
    padding-bottom: 15%;
  }
.about-title h1 {
    text-transform: uppercase;
    font-size: 70px;
    font-family: 'Futurist', sans-serif;
    text-align: center;
  }
.about-text{
    text-align: center;
}
.about-text h3 {
    font-family: 'Trispace', sans-serif;
    letter-spacing: .05em;
    line-height: 40px;
    font-size: 25px;
    padding-bottom: 30px;
    padding-top: 10px;
  }
  
.about-text p {
    font-family: 'Trispace', sans-serif;
    line-height: 35px;
    font-size: 20px;
    padding-bottom: 55px;
}

.row {
    display: flex ;
    background: #fff;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 25%;
  }
.row img{
    border-radius: 50%;
    width: 160px;
    height: 160px;
    text-align: center;
    display: inline-block;
}  
.column {
    padding: 5px;
    background: #fff;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-right: 50%;
    position: relative;
}
.container img{
    display: inline;
    text-align: center;
}


  /******** footer *********/
.footer{
    color: #fff;
    padding: 40px 0;
    text-align: center;
    position: relative;
}
.footer-container > div{
    margin: 40px 0;
}
.footer-container h1{
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 7px;
}
.footer-container p{
    opacity: 0.7;
    font-size: 20px;
}
.footer > p{
    text-align: center;
    font-size: 14px;
}
